/* Welcome to the amazing (and sometimes irritating) world of CSS!
 * 
 * This document is meant to introduce you to introduce some of the basic 
 * selectors and styling properties you'll see when adding CSS to your application.
 * 
 * For more references + cheat sheets I recommend checking out:
 *
 * - https://www.w3schools.com/w3css/defaulT.asp (Great intro resouce)
 * - https://developer.mozilla.org/en-US/docs/Web/CSS (Also great intro resource)
 * - https://htmlcheatsheet.com/css/ (Great CSS Cheat Sheet to look at)
 *
 */


/* The * selector selects every element in your DOM (Document Object Model) 
 * and applies the defined styling to everything!
 */
 

/* TODO: Make all text 'Montserrat', sans-serif;*/


/* Elements */
body {
  /* TODO: Insert Background Gradient
   * hex vals: left: #9038BA , right: #1A1869
   */

  /* TODO: Insert Background Gradient */
  background: linear-gradient(
    90deg, rgba(144,56,186,1) 0%, rgba(26,24,105,1) 100%);
  height: calc(100vh);
  width: calc(100vw);
  margin: 0;
}

a {
  text-decoration: none;
  padding: 10px;
  background-color: #1f196c;
  color: white;
  border-radius: 5px;
}

/* IDs */
/* TODO: This is an error, what are we missing? */
card-container {
  position: relative;
  display: flex;
  /* TODO: Align content in the center of the page. */
  height: 100%;
  width: 100%;
}

/* Classes */
.card {
  background: white;
  text-align: center;
  /* TODO: Give the element some padding 16px top-bottom padding and 33px of left-right padding with 5px of rounded borders */

  /* TODO: Give the element some padding 16px top-bottom padding and 33px of left-right padding with 5px of rounded borders */
  box-shadow: 0px 12px 8px rgb(0 0 0 / 38%);
  width: 450px;
}

.card__form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: relative;
}


.card h1 {
  font-size: 60px;
  margin: 0 0 15px;
}

.card__form__label {
  text-align: left;
  font-size: 17px
  color: #5C5C5C;
}

.card__form__textbox {
  
  background: #ECECEC;
  border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 20px;
  height: 54px;
  margin: 0 0 25px;

}

.card__form__textbox:hover {
  border: 1px solid #c4c4c4;
}

.card__form__textbox:active {
  border: 1px solid black;
}

.card__form__submit {
  background: #BC66E5;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 14px;
  margin: 16px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #1f196c;
}

.card__form__submit:hover {
  background: #9944c2;
}

.card__form__submit:active {
  background: #592075;
}

/* vvvvv TODO: Insert styling for .link-wrapper here vvvvv */

/* ^^^^^ TODO: Insert styling for .link-wrapper here ^^^^^ */