/* Welcome to the amazing (and sometimes irritating) world of CSS!
 * 
 * This document is meant to introduce you to introduce some of the basic 
 * selectors and styling properties you'll see when adding CSS to your application.
 * 
 * For more references + cheat sheets I recommend checking out:
 *
 * - https://www.w3schools.com/w3css/defaulT.asp (Great intro resouce)
 * - https://developer.mozilla.org/en-US/docs/Web/CSS (Also great intro resource)
 * - https://htmlcheatsheet.com/css/ (Great CSS Cheat Sheet to look at)
 *
 */


/* The * selector selects every element in your DOM (Document Object Model) 
 * and applies the defined styling to everything!
 */
* {
  font-family: 'Montserrat', sans-serif;
}

/* Elements */

/* This is an example of a element selector which applies styling to EVERY instance
 * of this element.
 */
body {
  background: linear-gradient(
    90deg, rgba(144,56,186,1) 0%, rgba(26,24,105,1) 100%);
  height: calc(100vh);
  width: calc(100vw);
  margin: 0;
}

a {
  text-decoration: none;
  padding: 10px;
  background-color: #1f196c;
  color: white;
  border-radius: 5px;
}

/* IDs */

/* This is an example of a id selector where it applies all styling to 
 * the ONE (emphasis on the one) element.
 */
#card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Classes */

/* This is an example of a class selector where it applies all styling to 
 * MULTIPLE elements which use this class name.
 */
.card {
  background: white;
  text-align: center;
  padding: 16px 33px;
  border-radius: 5px;
  box-shadow: 0px 12px 8px rgb(0 0 0 / 38%);
  width: 450px;
}

.card__form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: relative;

}


/*
 * This is an example of selecting all h1 elements in the .card class
 * and applies styling to ONLY those h1s. This selector takes more precedence 
 * than any element selectors before.
 */
.card h1 {
  font-size: 60px;
  margin: 0 0 15px;
}

.card__form__label {
  text-align: left;
  font-size: 17px;
  color: #5C5C5C;
}

.card__form__textbox {
  
  background: #ECECEC;
  border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 20px;
  height: 54px;
  margin: 0 0 25px;

}

.card__form__textbox:hover {
  border: 1px solid #c4c4c4;
}

.card__form__textbox:active {
  border: 1px solid black;
}

.card__form__submit {
  background: #BC66E5;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 14px;
  margin: 16px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #1f196c;
}

/* This is an example of a pseudo class which allow you to add styling to different states
 * of an element. The example below is a state when the element is hovered on by the mouse.
 */
.card__form__submit:hover {
  background: #9944c2;
}
/* 
 * This is another example of a pseudo class which adds styling to a element that has been
 * activated --> ex) been clicked on.
 */
.card__form__submit:active {
  background: #592075;
}
.link-wrapper {
  margin: 10px;
}


/* 
 * This is an example of a media query. It's main purpose is to allow your application
 * to be responsive to different screen sizes: Desktop, Tabel and mobile
 *
 * Use this link to learn more about media queries and how to make your app responsive:
 */
@media (max-width: 575px) {
  .card {
    width: 81%;
  }
}